body{
    background-color: #fbfefb;
    color: #867359;
    font-size: larger;
}
.container{
    border: 2px solid #d0b8ac;
    border-radius: 15px;
    background-color: #efe5dc;
    width: 65vw;
    height: 80vh;
    text-align: center;
    margin: 4vh 10vw;
    padding: 5vh 5vw;
}
table{
    border: 2px solid #d0b8ac;
    border-radius: 15px;
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
    text-align: center;
}
td{
    border-top:1px solid #d0b8ac;
}
th{
    border-bottom: 2px solid #d0b8ac;
}
input{
    border: 2px solid #d0b8ac;
    border-radius: 15px;
    background-color: #f3d8c7;
    padding: 5px;
}
button{
    font-size: 20px;
    border: 2px solid #d0b8ac;
    border-radius: 15px;
    background-color: #fbfefb;
    padding: 5px;
    margin: 30px;
}
button:hover{
    background-color:lightgray;
}

.counter{
    font-size: x-large;
    text-align: center;
    width: 25px;
    height: 25px;
    border: 2px solid #d0b8ac;
    border-radius: 25px;
    background-color: #fbfefb;

}
.incButton{
    float: right;
    font-size: 20px;
    border: 2px solid #008300;
    border-radius: 15px;
    background-color: #00d900;
    padding: 5px;
    margin: 30px;
}
.incButton:hover{
    background-color: #00ff00;
}
.decButton{
    float: left;
    font-size: 20px;
    border: 2px solid #ab0000;
    border-radius: 15px;
    background-color: #cb0000;
    padding: 5px;
    margin: 30px;
    color: white;
}
.decButton:hover{
    background-color: #ff0000;
    color: white;
}


