<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="main.css">
    <script src="base.js"></script>
</head>
<body>
    <div class = "container">
        <h1> Welcome on Home Page</h1>
        <h3> Of my small e-commerce'ish project</h3>
        <h4> You can navigate to the following pages:</h4>
        <ul>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/addItem">Add Item</a></li>
            <li><a href="/updateItem">Update Item</a></li>
            <li><a href="/submittedOrders">Submitted Orders</a></li>
        </ul>
    </div>
</body>
</html>