<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add to Stock</title>
    <!--    <link rel="stylesheet" href="css/main.css">-->
</head>
<body>
<div class="container">
    <!--        th:action changes where its redirected-->
    <form th:method="post" th:object="${item}">
        <tr th:each="item: ${item}">
            <td th:text="*{name}"></td>
            <td th:text="*{price}"></td>
            <td th:text="*{quantity}"></td>
        </tr>
<!--        <input type="text" id="name" th:field="*{name}">-->
<!--        <br><span></span><br>-->
<!--        <input type="number" step="0.01" min="0" id="price" th:field="*{price}">-->
<!--        <br><span></span><br>-->
<!--        <input type="number" id="quantity" th:field="*{quantity}">-->
<!--        <span></span><br>-->
<!--        <button type="submit" class="submit-button"> Send </button>-->
    </form>
</div>

</body>
</html>