<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <a href="/"><img src="home.png" class="icon" alt="Go home"></a>
        <h2> List of Submitted Orders </h2>
        <table>
            <tr>
                <th>Order ID</th>
                <th>Items</th>
                <th>Order Date</th>
                <th>Total price</th>
            </tr>
            <tr th:each="order: ${orders}">
                <td th:text="${order.get(0)}"></td>
                <td>
                    <span th:each="index : ${#numbers.sequence(1, order.size() - 3)}">
                    <span th:text="${order[index]}"></span><br></span>
                </td>
                <td th:text="${order.get(order.size() -2)}"></td>
                <td>
                    <span th:text="${order.get(order.size() -1)}"></span>
                    <span>$</span>

                </td>
            </tr>
        </table>
    </div>
</body>
</html>