<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link rel="stylesheet" href="main.css">
    <script src="base.js"></script>
</head>
<body>
    <div class="container">
        <form>
            <h3>Update Product: </h3>
            <span th:each="item: ${itemList}">
                <input type="checkbox" th:value="*{item.name}" name="product" class="toggleButton" onchange="toggleItemVisibility(this)">
                <label th:text="*{item.name}"></label><br>

                <span class="toggleSpan" style="display:none">
                    <h4> Update Quantity: </h4>
                    <input type="number" th:field="*{item.quantity}" name="quantity">
                    <br>
                    <h4> Update Price: </h4>
                    <input type="number" th:field="*{item.price}" name="price">
                </span>
            </span>
        </form>

    </div>

</body>
</html>